
-# .header
-#   .header__logo
= render 'devise/shared/sidebar'
  
  
  
.chatmain
  .chatmain__top
    .chatmain__top__leftbox
      .chatmain__top__leftbox__title
        = @group.name
      .chatmain__top__leftbox__member
        .chatmain__top__leftbox__member__box1
          member:
        .chatmain__top__leftbox__member__box2
          - @group.group_users.each do |group_user|
            = group_user.user.name
            
    .chatmain__top__rightbox
      .chatmain__top__rightbox__btn
        = link_to "Edit", edit_group_path(@group) , class: 'btn btn-edit'
        /edit_group_path(@group)の@groupはグループがいっぱいあるからどのグループなのか指定している。

  .chatmain__center
    = render partial: 'message', collection: @messages
    
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
     